/* Add CSS for dropdown styling */
.scrollable-dropdown {
    overflow-y: auto;
    max-height: 150px; /* Adjust as needed */
  }
  .modal-lg {
    max-width: 800px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center modal horizontally */
}

  
  /* Add styling for filter button */
  .filter-button {
    margin-top: 10px;
  }
  .action-button {
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    width: 100px; /* Adjust width as needed */
}
.action-buttons {
  display: flex;
  gap: 10px; /* Add some space between buttons */
}

.action-buttons .btn {
  flex: none; /* Ensure buttons don't stretch */
}
.action-buttons > * {
  margin-right: 5px; /* Adjust as needed for spacing between buttons */
}

.action-button.success {
    background-color: green;
}

.action-button.danger {
    background-color: red;
}
.custom-select{
  color: red;
  font: bold;
}
.table tbody tr {
  line-height: 1; /* Adjust the line height */
  padding: 5px 0; /* Adjust the padding */
}

.table tbody td {
  padding: 5px; /* Adjust the padding */
}
.table-container {
  margin-bottom: 50px; 
  margin-top: -30px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 200px; 
  height: 320px;
}
.dashbody{
  margin-top: -40px;
  overflow: hidden;

}
.dashform{
  margin-top: -10px;
  height: 150px;
}
.dash{
  margin-top: -10px;
}
.back{
  margin-top: -45px;
  margin-bottom: 10px;
  margin-right: 1140px;
}

footer {
  position: fixed;
  bottom: 0; /* Ensure the footer stays at the bottom */
  width: 100%;
  padding-bottom: 0; /* Remove any padding at the bottom */
  margin-bottom: 0; /* Ensure there is no margin at the bottom */
}
